body {
    margin: 0px 20px 0px 20px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
}